{% include 'navbar.html' %}
<hr>
{% for post in posts %} 
<ul>
    {% if post.boast_or_roast == True %} 
    <h5>😼 Boast</h5>
    {% else %} 
    <h5>😾 Roast</h5>
    {% endif %}
    <li>Votes: {{post.vote_score}}</li>
    <li>{{post.text}}</li>
    <li>Upvotes: {{post.upvotes}}</li>
    <li>Downvotes: {{post.downvotes}}</li>
    <li>{{post.submission_time}}</li>
    <li><button><a href='/upvote/{{post.id}}/'>👍 Upvote</a></button></li>
    <li><button><a href='/downvote/{{post.id}}/'>👎 Downvote</a></button></li>
</ul>
{% endfor %}